In [1]:
# Import the dependencies

import pandas as pd
import json
import numpy as np

In [2]:
# Set the data file path
file_dir = "../data/"

In [3]:
with open(f"{file_dir}wikipedia.movies.json",mode="r") as file:
    wiki_movies_raw = json.load(file)

In [4]:
len(wiki_movies_raw)

7311

In [5]:
wiki_movies_df = pd.DataFrame(wiki_movies_raw)

In [6]:
wiki_movies_df.head()

,url,year,imdb_link,title,Directed by,Produced by,Screenplay by,Story by,Based on,Starring,...,Predecessor,Founders,Area served,Products,Services,Russian,Hebrew,Revenue,Operating income,Polish
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990.0,https://www.imdb.com/title/tt0098987/,,Renny Harlin,"[Steve Perry, Joel Silver]","[David Arnott, James Cappe, Daniel Waters]","[David Arnott, James Cappe]","[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990.0,https://www.imdb.com/title/tt0098994/,,James Foley,"[Ric Kidney, Robert Redlin]","[James Foley, Robert Redlin]",NaN,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Air_America_(film),1990.0,https://www.imdb.com/title/tt0099005/,,Roger Spottiswoode,Daniel Melnick,"[John Eskow, Richard Rush]",NaN,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990.0,https://www.imdb.com/title/tt0099012/,Alice,Woody Allen,Robert Greenhut,NaN,NaN,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990.0,https://www.imdb.com/title/tt0099018/,Almost an Angel,John Cornell,John Cornell,NaN,NaN,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
wiki_movies_columns = wiki_movies_df.columns.to_list()
len(wiki_movies_columns)

193

In [8]:
wiki_movies = [movie for movie in wiki_movies_raw
                if ('Director' in movie or 'Directed by' in movie)
                and 'imdb_link' in movie
                and 'No. of episodes' not in movie]

In [9]:
len(wiki_movies)

7076

In [10]:
wiki_df = pd.DataFrame(wiki_movies)

In [11]:
def clean_movie(movie):
    movie = dict(movie)  # create a non-destructive copy
    alt_titles = {}
    for key in ['Also known as','Arabic','Cantonese','Chinese','French',
                'Hangul','Hebrew','Hepburn','Japanese','Literally',
                'Mandarin','McCune-Reischauer','Original title','Polish',
                'Revised Romanization','Romanized','Russian',
                'Simplified','Traditional','Yiddish']:
        if key in movie:
            alt_titles[key] = movie[key]
            movie.pop(key)
    
    if len(alt_titles) > 0:
        movie['alt_titles'] = alt_titles
    
    # merge column names
    def change_column_name(old_name, new_name):
        if old_name in movie:
            movie[new_name] = movie.pop(old_name)
            
    change_column_name('Adaptation by', 'Writer(s)')
    change_column_name('Country of origin', 'Country')
    change_column_name('Directed by', 'Director')
    change_column_name('Distributed by', 'Distributor')
    change_column_name('Edited by', 'Editor(s)')
    change_column_name('Length', 'Running time')
    change_column_name('Original release', 'Release date')
    change_column_name('Music by', 'Composer(s)')
    change_column_name('Produced by', 'Producer(s)')
    change_column_name('Producer', 'Producer(s)')
    change_column_name('Productioncompanies ', 'Production company(s)')
    change_column_name('Productioncompany ', 'Production company(s)')
    change_column_name('Released', 'Release Date')
    change_column_name('Release Date', 'Release date')
    change_column_name('Screen story by', 'Writer(s)')
    change_column_name('Screenplay by', 'Writer(s)')
    change_column_name('Story by', 'Writer(s)')
    change_column_name('Theme music composer', 'Composer(s)')
    change_column_name('Written by', 'Writer(s)')
    
    return movie

In [12]:
clean_movies = [clean_movie(movie) for movie in wiki_movies]

In [13]:
len(clean_movies)

7076

In [14]:
def f(name):
    def g(leng):
        return leng**2
    
    return g(len(name))

f("sami")

16

In [15]:
def f(a):
    
    a[2] *= 5
    
    a.append("hello")
    return a

a = [1,2,3,4]
f(a)

[1, 2, 15, 4, 'hello']

In [16]:
square = lambda x:x*x
    
square(5)

25

In [17]:
wiki_movies_df = pd.DataFrame(clean_movies)
sorted(wiki_movies_df.columns.tolist())

['Animation by',
 'Audio format',
 'Based on',
 'Box office',
 'Budget',
 'Cinematography',
 'Color process',
 'Composer(s)',
 'Country',
 'Created by',
 'Director',
 'Distributor',
 'Editor(s)',
 'Executive producer(s)',
 'Followed by',
 'Genre',
 'Label',
 'Language',
 'McCuneâ€“Reischauer',
 'Narrated by',
 'Original language(s)',
 'Original network',
 'Picture format',
 'Preceded by',
 'Producer(s)',
 'Production company(s)',
 'Production location(s)',
 'Recorded',
 'Release date',
 'Running time',
 'Starring',
 'Suggested by',
 'Venue',
 'Voices of',
 'Writer(s)',
 'alt_titles',
 'imdb_link',
 'title',
 'url',
 'year']

In [18]:
wiki_movies_df['imdb_id'] = wiki_movies_df['imdb_link'].str.extract(r'(tt\d{7})')
print(len(wiki_movies_df))
wiki_movies_df.drop_duplicates(subset='imdb_id', inplace=True)
print(len(wiki_movies_df))
wiki_movies_df.head()

7076
7033

,url,year,imdb_link,title,Based on,Starring,Narrated by,Cinematography,Release date,Running time,...,Preceded by,Suggested by,alt_titles,Recorded,Venue,Label,Animation by,Color process,McCuneâ€“Reischauer,imdb_id
0,https://en.wikipedia.org/wiki/The_Adventures_o...,1990,https://www.imdb.com/title/tt0098987/,,"[Characters, by Rex Weiner]","[Andrew Dice Clay, Wayne Newton, Priscilla Pre...","Andrew ""Dice"" Clay",Oliver Wood,"[July 11, 1990, (, 1990-07-11, )]",102 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098987
1,"https://en.wikipedia.org/wiki/After_Dark,_My_S...",1990,https://www.imdb.com/title/tt0098994/,,"[the novel, After Dark, My Sweet, by, Jim Thom...","[Jason Patric, Rachel Ward, Bruce Dern, George...",NaN,Mark Plummer,"[May 17, 1990, (, 1990-05-17, ), (Cannes Film ...",114 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0098994
2,https://en.wikipedia.org/wiki/Air_America_(film),1990,https://www.imdb.com/title/tt0099005/,,"[Air America, by, Christopher Robbins]","[Mel Gibson, Robert Downey Jr., Nancy Travis, ...",NaN,Roger Deakins,"[August 10, 1990, (, 1990-08-10, )]",113 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099005
3,https://en.wikipedia.org/wiki/Alice_(1990_film),1990,https://www.imdb.com/title/tt0099012/,Alice,NaN,"[Alec Baldwin, Blythe Danner, Judy Davis, Mia ...",NaN,Carlo Di Palma,"[December 25, 1990, (, 1990-12-25, )]",106 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099012
4,https://en.wikipedia.org/wiki/Almost_an_Angel,1990,https://www.imdb.com/title/tt0099018/,Almost an Angel,NaN,"[Paul Hogan, Elias Koteas, Linda Kozlowski]",NaN,Russell Boyd,"December 19, 1990",95 minutes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,tt0099018

In [19]:
wiki_movies_df.isna().sum()

url                          0
year                         0
imdb_link                    0
title                        1
Based on                  4852
Starring                   184
Narrated by               6752
Cinematography             691
Release date                32
Running time               139
Country                    236
Language                   244
Budget                    2295
Box office                1548
Director                     0
Distributor                357
Editor(s)                  548
Composer(s)                518
Producer(s)                202
Production company(s)     1678
Writer(s)                  199
Genre                     6923
Original language(s)      6875
Original network          6908
Executive producer(s)     6936
Production location(s)    6986
Picture format            6969
Audio format              6972
Voices of                 7031
Followed by               7024
Created by                7023
Preceded by               7023
Suggested by              7032
alt_titles                7012
Recorded                  7031
Venue                     7032
Label                     7031
Animation by              7031
Color process             7032
McCuneâ€“Reischauer         7031
imdb_id                      0
dtype: int64

In [20]:
wiki_movies_df.count()

url                       7033
year                      7033
imdb_link                 7033
title                     7032
Based on                  2181
Starring                  6849
Narrated by                281
Cinematography            6342
Release date              7001
Running time              6894
Country                   6797
Language                  6789
Budget                    4738
Box office                5485
Director                  7033
Distributor               6676
Editor(s)                 6485
Composer(s)               6515
Producer(s)               6831
Production company(s)     5355
Writer(s)                 6834
Genre                      110
Original language(s)       158
Original network           125
Executive producer(s)       97
Production location(s)      47
Picture format              64
Audio format                61
Voices of                    2
Followed by                  9
Created by                  10
Preceded by                 10
Suggested by                 1
alt_titles                  21
Recorded                     2
Venue                        1
Label                        2
Animation by                 2
Color process                1
McCuneâ€“Reischauer            2
imdb_id                   7033
dtype: int64

In [21]:
[[column,wiki_movies_df[column].isnull().sum()] for column in wiki_movies_df.columns]

[['url', 0],
 ['year', 0],
 ['imdb_link', 0],
 ['title', 1],
 ['Based on', 4852],
 ['Starring', 184],
 ['Narrated by', 6752],
 ['Cinematography', 691],
 ['Release date', 32],
 ['Running time', 139],
 ['Country', 236],
 ['Language', 244],
 ['Budget', 2295],
 ['Box office', 1548],
 ['Director', 0],
 ['Distributor', 357],
 ['Editor(s)', 548],
 ['Composer(s)', 518],
 ['Producer(s)', 202],
 ['Production company(s)', 1678],
 ['Writer(s)', 199],
 ['Genre', 6923],
 ['Original language(s)', 6875],
 ['Original network', 6908],
 ['Executive producer(s)', 6936],
 ['Production location(s)', 6986],
 ['Picture format', 6969],
 ['Audio format', 6972],
 ['Voices of', 7031],
 ['Followed by', 7024],
 ['Created by', 7023],
 ['Preceded by', 7023],
 ['Suggested by', 7032],
 ['alt_titles', 7012],
 ['Recorded', 7031],
 ['Venue', 7032],
 ['Label', 7031],
 ['Animation by', 7031],
 ['Color process', 7032],
 ['McCuneâ€“Reischauer', 7031],
 ['imdb_id', 0]]

In [22]:
[column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]

['url',
 'year',
 'imdb_link',
 'title',
 'Based on',
 'Starring',
 'Cinematography',
 'Release date',
 'Running time',
 'Country',
 'Language',
 'Budget',
 'Box office',
 'Director',
 'Distributor',
 'Editor(s)',
 'Composer(s)',
 'Producer(s)',
 'Production company(s)',
 'Writer(s)',
 'imdb_id']

In [23]:
wiki_columns_to_keep = [column for column in wiki_movies_df.columns if wiki_movies_df[column].isnull().sum() < len(wiki_movies_df) * 0.9]
wiki_movies_df = wiki_movies_df[wiki_columns_to_keep]

In [24]:
wiki_movies_df.dtypes

url                      object
year                      int64
imdb_link                object
title                    object
Based on                 object
Starring                 object
Cinematography           object
Release date             object
Running time             object
Country                  object
Language                 object
Budget                   object
Box office               object
Director                 object
Distributor              object
Editor(s)                object
Composer(s)              object
Producer(s)              object
Production company(s)    object
Writer(s)                object
imdb_id                  object
dtype: object

In [25]:
box_office = wiki_movies_df['Box office'].dropna()

In [26]:
len(box_office)

5485

In [27]:
def is_not_a_string(x):
    return type(x) != str

In [28]:
box_office[box_office.map(is_not_a_string)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [29]:
box_office[box_office.map(lambda x: type(x) != str)]

34                           [US$, 4,212,828]
54      [$6,698,361 (, United States, ), [2]]
74                    [$6,488,144, (US), [1]]
126                [US$1,531,489, (domestic)]
130                          [US$, 4,803,039]
                        ...
6980               [$99.6, million, [4], [5]]
6994                   [$365.6, million, [1]]
6995                         [$53.8, million]
7015                     [$435, million, [7]]
7048                   [$529.3, million, [4]]
Name: Box office, Length: 135, dtype: object

In [30]:
some_list = ['One','Two','Three']
'Mississippi'.join(some_list)

'OneMississippiTwoMississippiThree'

In [31]:
box_office = box_office.apply(lambda x: ' '.join(x) if type(x) == list else x)

In [32]:
box_office

0          $21.4 million
1           $2.7 million
2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
              ...
7070       $19.4 million
7071       $41.9 million
7072       $76.1 million
7073       $38.4 million
7074        $5.5 million
Name: Box office, Length: 5485, dtype: object

In [33]:
import re

In [34]:
form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
# form_one = r'\$\d+(\.\d{1,2})? [mb]illion'

In [35]:
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3903

In [36]:
# form_one = r'\$\s*\d+\.?\d*\s*[mb]illi?on'
# form_one = r'\$\s*\d+(\.\d*)?\s*[mb]illi?on'

In [37]:
box_office.str.contains(form_one, flags=re.IGNORECASE).sum()

3903

In [38]:
form_two = r'\$\d{1,3}(?:,\d{3})+'
ser1 = box_office[box_office.str.contains(form_two, flags=re.IGNORECASE)]
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

1544

In [39]:
# form_two = r'\$\d{1,3}((,\d{3})+)?'
form_two = r'\$\d{1,3}((?:,\d{3})+)'
box_office.str.contains(form_two, flags=re.IGNORECASE).sum()

C:\Users\sami\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

1544

In [40]:
box_office[box_office.str.contains(form_two, flags=re.IGNORECASE)]

2            $57,718,089
3             $7,331,647
4       $6,939,946 (USA)
9               $855,810
15           $12,626,043
              ...
7022            $401,463
7028            $260,136
7039            $100,116
7044             $19,996
7057            $756,473
Name: Box office, Length: 1544, dtype: object

In [41]:
for item in ser1:
    print(item)

$57,718,089
$7,331,647
$6,939,946 (USA)
$855,810
$12,626,043
$19,740,070
$138,697,012
$1,292,323
$2,070,871
$10,173
$947,306
$715,983
US$13,236,513
$1,373,728
$6,698,361 ( United States ) [2]
$2,346,150
$1,372,350
$14,760,451
$22,424,195 (USA)
$6,488,144 (US) [1]
$1,823,154
$1,305,887
$205,068
$21,460,601
$13,446,769
$4,960,385
$5,728,953 (US)
$9,243,140
$4,134,992
$609,939 (US)
$1,293,976
US$1,531,489 (domestic)
$3,473,905 (USA)
$5,585,154
$21,036,771 (U.S.)
$129,778 (USA)
$16,247,964 (USA)
$139,155
$9,888,167
$1,464,242
$16,153,600 (USA) (sub-total)
$4,011,793
$15,379,253
$7,698,010
$10,873,237
$11,359,129
$3,779,620
$3,331 (USA)
$39,071,603 (US)
$11,207,891
$21,413,105
$15,535,771 (US)
$739,104 (North America) [2]
$3,417,056
$4,010,647
$152,982 (USA)
$458,996 (USA)
$17,854,930 (USA)
$43,982
$52,310
$1,911,542
$20,240,128
$541,626
$16,667,084
$1,794,001
$3,989,297
$1,106,475
$17,487,531
$83,882
$11,060,485
$44,143,410
$2,120,564
$14,812,144
$2,865,916
$1,342,903 (USA)
$8,667,684
$9,188,150
$9,689,816
$6,220
$28,277,918
$259,012
$1,501,785
$38,016,380 (US)
$6,413,375 (USA)
$5,546,827
$54,830,779
$38,120,905 (US)
$394,631
$80,500,000
$82,264,675
$5,451,119
$8,750,400
$14,587,732
$40,991,329 (worldwide)
$306,319 (USA)
$7,434,726 (United States)
$9,804,775
Â£739,989 (UK) [1] $4,413,473 (US) [1]
$4,654,288 ( US ) [1]
$2,971,661 (US)
$19,438,638
$191,125
$583,979
$90,000
$52,487,045
$133,645 (Domestic)
$29,012,935
$456,127
US$485,772
$7,308,786
$14,789,113
$5,136,759
$14,851,083
$25,682,090
$39,673,161
$18,634,643 (Domestic)
$267,265
$14,061,361
$787,280
$43,001,500 (US)
$2,808,000
$21,756,163
$9,563,393 (US)
$2,735,731
$11,511,031
$3,547,684
$1,228,108
$36,489,888
$246,000
$2,712,293
$7,683,267 (domestic)
$11,000,863
$939,277 (US)
$336,396
$978,775
$110,505 (US)
$15,073,942 (US) (sub-total)
$418,807
$4,693,236 (US)
$349,618
$1,008,404
$1,182,273
$13,086,430
$918,239 (USA)
$22,518,097
$222,552 (United States)
$13,272,113
$21,591,800
$3,052,738 (USA)
$479,676
$25,105,000
$4,836,637
$46,666,502
$8,403,433
$231,826
$6,132,924
$17,129,026
$376,008 (USA)
$3,721,911
$26,055
$35,208,854
$94,900,635
$256,249
$11,390,479
$1,514,114
$1,050,861
$2,287,928
$1,014,726
$754,935
$471,120 (USA)
USD$205,569
$4,096,030
$1,526,697
$1,102,469
$40,227,006
$311,245
$20,883,046
$6,202,756
$8,669,847
$4,814,619
$4,906,900
$22,697,691
$3,067,917
$15,164,458
$4,651,977
$2,502,551
$147,724
$11,657,385
$919,286
$2,814 (USA)
$14,715,067
HK$2,662,446 (Hong Kong)
$115,103
$17,180,393
$48,017,402
$1,373,196
$422,503
$340,147 (US sub-total)
$20,473
$2,922,094
$22,660,758
$13,747,138 70,542 admissions (France) [2]
$57,138,719 (US)
$1,723,319 (United States)
$390,152
$5,519,569 (US)
$2,791,515
$1,468,300 (US)
$20,208,496
$112,547 (USA) [1]
$543,091
$115,842 (USA)
$6,044,652
$4,496,583
$764,724
Domestic $428,868 [1]
$10,058,318 (USA)
$212,483
$17,952,857
$17,959,778
$6,011,745
$23,671
$1,497,222
$18,369
$296,081
$1,152,117 (USA)
$7,839,327
$9,488,998 (US)
$1,677,807
$322,871
$6,265,311 (US)
$5,145,823
$12,136,999
$12,440,858
$1,498,795
$10,688,490 (USA)
$8,345,845
$3,125,424 (USA)
$1,038,959
$3,273,588 (US)
$30,038,362
$18,289,763
$6,484,246
$54,207 (USA)
$148,919
$608,866 (USA)
$7,266,383
$18,994,653
$36,448,400
$2,438,031
$4,104,962
$5,495,507
$56,505,065
$101,071
$12,324,660
$14,543,394
$901,668
$39,100,000
$84,859
$278,720
$11,798,854 (Domestic)
$19,623,396
$16,192,320
$16,820,893
$15,240,435 (US)
$573,953 (US)
$4,630,377
$16,696,219
$30,155,037 (USA) [2]
$3,359,465 (USA)
$4,352,094
$10,471,613 (US)
$3,038,499 (USA, sub-total)
$1,007,600
$11,391,093
$13,642,861
$3,174,695
$3,103,716
$256,264
$28,735,315
$6,841,570
$3,134,381
$8,094,616
$18,869,594
$2,408,311 (US sub-total)
$395,105 (USA)
$13,137,484
$27,058,304
$713,234
$19,281,235
$26,381,221
$89,611
$28,881,266
$8,880,705
$21,355,893
$37,939,757
$60,822
$20,851,521
$9,979,683
$5,842,603
$4,858,139 (USA)
$1,095,885 (domestic)
$18,272,894
$35,200
$30,626,182
$18,137,661
$6,821,850
$16,453,258
$2,144,667
$25,479,558 (US)
$70,936
$4,330,020
$126,247 (domestic)
$11,669
$3,062,530
$8,647,042
$305,070
$33,351,557
$11,439,193
$24,332,324
$6,562,513
$63,513
$2,694,234
$71,314
$6,159,269
$3,180,674
$61,274
$3,430,583
$200,151
$1,359,736
$170,362,582 (international)
$20,667,959
$3,337,685
$99,423,521
$7,727,256
$382,928
$16,478,900 (US)
$185,898
$14,815,317
$538,534
$6,971,777
$71,368
$1,746,050
$16,480,770
$8,878,839 (US)
$6,243,722
$7,599,000
$10,184,701
$302,393
$7,506,759
$9,685,976
$3,674,841
$5,750,110
$17,725,500
$1,268,636
$3,730,409
$23,440,188
$12,096,673
$178,104
$1,400,591
$13,071,518
$16,198
$868,979
$676,525 (USA) (sub-total)
$179,519,401
$284,785
$3,039,634 (USA and UK)
$303,841 (United States)
$11,534,477
$11,642,945
$3,987,768
$33,177,694
$4,257,354
$532,268 52,088 admissions (France) [1]
$1,110,104
$6,029,091
$57,100
$941,414
$12,201,255
$26,325,256
$1,977,544 (US)
$3,487,767
$52,400,000 (Worldwide)
$718,490
$459,749
$7,024,389
$15,453,274
$5,000
$40,070,995
$209,935
$5,221,281
$469,571
$2,484,226
$106,269,971
$17,381,942
$4,686,937 (Worldwide)
$6,858,261
$3,565,508
$24,670,346
$2,844,379 (United States)
$6,834,525
$3,983,912
$2,832,826
$5,269,757
$1,238,905
$103,351
$2,684,904
$12,096,881
$512,245
$10,382,407
$5,711,695
$99,318
$692,400
$912,082
$669,276
$529,677
$7,025,496
$5,772,529 (domestic) [1]
$26,282
$536,023
$2,875,086 (US)
$6,014,341
$3,760,525 (US)
$2,193,982
$15,054,636
$11,132,900
$37,536
$15,094,530
$27,315,527
$8,797,839
$560,069
$782,641
$516,350
$2,654,308
$290,978
$9,255,027 (domestic)
$60,209,334
$285,112
$7,343,114
$49,620
$2,084,559
$7,138,523
$20,109,115
$37,553,752
$9,871,065
$4,422,330
$31,387,164
$12,767,815
$2,104,439
$10,125,417
$3,124,440
$26,491,793
$17,193,231
$20,080,020
$14,702,438
$56,143,818
$269,300
$295,493 (US) [2]
$1,412,799 (worldwide)
$5,691,854
$197,322
$75,019,405
$13,323,144
$20,351,264
$660,313
$222,559
$5,009,305
$21,302,121 [1] (US)
$32,772,492
$7,032,782
$26,011
$2,420,162
$25,372,294
$49,627,779
$622,503
$5,200,601
$4,619,014
$50,789
$1,356,329
$5,939,449 (USA sub-total)
$47,267,001 [1] 302,885 admissions (France) [2]
$1,408,575
$32,925 (USA sub-total)
$107,874
$502,313
$12,803,305
$91,610,201
$19,145,198
$403,701
$10,082,005
$21,075,014
$1,383,553
$1,945,552
$8,543,587
$220,198
$10,580
$37,956,793
$5,107,669
$1,614,266
$12,643,776 (US)
$14,818,176
$21,508 (Domestic) [2]
$10,163,782
$2,021,348
$34,746,109
$75,854,588
$749,741
$34,073,143 (US)
$2,821,671 [ citation needed ]
$272,542
$100,688,705
$1,615,787
$44,722
$44,052
$2,789,985
$10,292,300 (United States)
$375,757
$130,146 (U.S. sub-total)
$3,602,884
$2,465,960
$339,379
$150,646 (Domestic)
$52,850
$2,196,650
$21,277,770
$332,597 (domestic)
$7,338,279
$5,000 (domestic)
$720,074
$20,050,376
$532,654
$1,963,654
$23,946
$2,178,160
$1,568,328
$537,948
$548,562
$10,569,071
$11,438,337 (US)
$386,673
$14,842,388
$14,515,490
$878,960 (USA)
$35,659,604
$785,482 (worldwide $3,136.765
$29,481,428
$113,069
$19,745,922
$31,070,412
$2,284,034
$1,338,335
$23,461,013 (USA)
$626,057
$13,330 (domestic)
$375,634
$467,272
$63,856,929
$59,927,618
$57,252
$46,362
$106,404
$10,925,060
$12,782,749 (Worldwide)
$2,581,012 ( US and Canada )
$1,935,539
$3,392,080
$910,773
$11,838,218
$458,815
$9,889,670
$125,397 (United States only) [1]
$194,201
$5,716,080 (USA)
$602,302
$4,953,510
$30,716,901
$2,007,100
$3,506,206 (USA)
$4,166,918
$589,304
$22,415,440 (USA)
$48,024,912
$346,056
$2,312,463
$7,281,450
$8,345,056
$14,772,788
$3,330,352
$7,029,025
$273,644 (US)
$283,081
$318,809
$16,574,176
$51,618
$387,069
$534,010
$14,598,571
$122,046
$9,054,736 (U.S.)
$6,524,620
$334,319
$15,738,769 (US)
$536,767 (domestic)
$100,841
$1,036,818
$39,371 (USA)
$9,639,390 (US and Canada) [1]
$27,007,143
$2,070,399
$12,951,088
$14,051,384
$13,493
$25,605,015
$6,754,958
$181,233
$1,161,063
$15,923,122
$676,631
$2,361,632
$15,064,946
$5,672,903 ( US ) [1]
$871,759
$8,165,212
$1,534,569 (USA)
$22,513
$166,082
$1,929,168 (US)
$10,459,961 (US)
$77,910
$81,471,882
$13,583,690
$2,198,044
$4,106,588
$7,571,115
$15,610,299
$3,572,443
$333,760
$118,475
$8,072,007
$21,521
$10,452,012
$222,099
$18,912,328
$26,616,840
$5,878,911
$1,166,199
$45,661
$3,221,152
$3,970,078
$692,588
$1,081,957
$4,960
$9,257,103
$113,484
$45,724
$12,874,899
$1,009,819
$80,837
$6,745,362
$123,104
$713,239
$2,172,941
$12,461,773
$777,423
$8,165,984
$22,365,133
$27,816
$34,573,780
$3,728,888
$30,471
$178,278
$5,453
$2,005,840
$28,121,100
$145,071
$2,165,637
$4,488,529
$33,543
$4,197,729
â‚¤2,891,515 (in UK) [1] $18,542,974 (total)
$14,011,454
$4,956,401 (domestic)
$430,404
$73,345,029
$5,985,690
$6,552,255 (USA)
$8,302,478
$2,924,635
$34,857
$4,634 (US)
$54,264,342
$15,415,361
$507,941 [1] (US and Canada)
$11,614,954
$36,850,101
$2,062,405
$292,152
$4,389,989
$107,099 (US and Canada) [1]
$23,049,593
$58,900,031
$4,197,015
$18,564,088
$16,649,768
$1,350,248
$985,341
$19,381
$4,750,660
$38,738
$25,059,640
$43,805
$53,425,292
$152,699,946
$22,361,811
$16,643,191
$22,844,291
$75,228
US$1,029,591
$80,049,764
$5,753,678
$48,564
$14,400,327
$47,027
$468,684
$31,355,910
$10,890,222
$16,974 (USA)
$82,343,495
$173,599
$59,989
$35,547,761
$24,362,772
$584,054
$254,199 (US)
$769,272
$10,558,970
$7,838
$268,117
$6,123
$29,934,477
$3,050,934
$13,276
$76,424
$148,701
$1,247,949
$327,418
$13,069,740
$889,352 (US)
$471,210
$1,051,948
$13,678,913
$850,255
$29,715,606
$4,931,888
$18,195,610
$29,381,649
$104,294
$8,378,853
$27,958,192
$2,300,684
$62,112,895
$3,646,994
$687,194
$10,031,529
$8,704,851
$517,872
$56,653
$13,127,022
$57,756,408
$31,283,790
$97,818,139
$24,516,772
$23,396,049
$1,667,192
$23,903,791
$4,695,781
$2,006,391
US$30,787,356
$34,585,771
$2,036,682
$19,210,835
$4,403,019
$319,299
$1,612,259
$38,689,940
$4,299,141
$515,900
$4,574,762
$22,391,450
$10,229,331
$295,206 (United States) [2]
$26,306,533
$824,597
$605,562
$51,843,679
$28,316,451
$60,902
$29,413,966
$254,293
$2,751,988
$18,012,097
$34,409,206
$73,839,240
$16,318,449
$18,591,272
$51,801,187
$4,141,740
$5,491
$24,128,852
$8,145,549
$4,412,203
$46,375
$31,167,388
$3,090,862
$811,299
$563,711
$308,552
$27,674,124
$1,934,497
$3,707,201 (USA)
$1,250,798
$6,413,915
$2,106,838
$134,736
$3,369,654
$598,645
$3,200,241
$1,500,711
$13,414,416
$515,678 ( US )
$15,220,548 [2] 64,579 admissions (France) [3]
$267,109 (US)
$2,418 (US)
$548,712
$7,986,084
$13,585,075
$365,727
$280,351
$11,705,002 (worldwide)
$23,510,601
$402,599
$2,650,356
$475,940
$2,294,823 (Foreign) [1] [2]
$12,150,301
$22,573,594
$2,255,000
$32,750,821
$37,000
$400,000
$17,432,163
$14,308,132
$292,376
$26,891,849
$38,955,598
$44,350,926
$546,106
$634,803
$18,191,005
$436,365
$829,140
$11,560,806
$742,898
$11,000
$1,800
$459,098
$337,174
$8,679,814
$7,808,524
$2,466,444
$9,638,389
$8,466
$61,347,797
$314,402
US$14,339,171
$3,817,362
$2,707,913
$1,382,259
$3,515,061 (USA)
$80,906
$93,000 (estimated)
$2,586,511
$12,009,070
$97,446
$18,396,382
$127,067
$14,581,765
$3,618,825
$34,586,268
$30,114,487
$305,281
$2,394,737
$1,548,955 (worldwide)
$291,118
$61,315,215
$394,390 (Worldwide)
$464,000
$1,841,260
$802,948
$21,417,725
$208,507 (US) [1] $1,466,013 (worldwide theatrical)
$21,839,377
$18,490,423
$5,923,000
$2,280,924
$192,186
$180,503 [1] (USA)
$707,269
$10,876,805
$841,926
$37,666,766
$49,718,611
$134,711 (United States)
$1,522,377
$1,384,395 (worldwide)
$10,148,953
$2,009,087
$2,153,070
$170,268,750
$102,001,626
$45,497
$11,416,075
$143,597
$5,044,000 ( $837,000 (United States)
$57,223,890
$246,094
$2,037,545
$337,617
$6,804,016
$3,347,647
$8,968,684
$1,126,258
$181,872
$33,589,427
$46,720,491
$37,691,644
$33,296,457
$351,401
$17,986
$29,621,722
$36,099
$251,495
$994,790 (worldwide)
$345,041 (Worldwide)
$3,601,974
$172,569
$388,998 (Worldwide)
$15,778,152
$1,311,633
$388,532
$83,073,883
$10,223,896 (US and Canada) [1]
$709,832
$537,667
$4,143,652
$174,815
$404,870
$867,000 (United States)
$101,393,569
$3,919,275
$1,750,211
$58,405,313
$47,812
$1,562,923
$537,100
$67,937,494
$689,028
$14,189,860
$381,420
$4,646,889
$519,802
$11,588,205
$4,784 (Taiwan)
$3,344,431
$823,337 (worldwide)
$5,655,459
$28,237,190
$881,779
$1,399,222
US$32,120,360
$16,458,459
$17,496,992
$745,327
$13,737
$3,306,629
$442,515
$11,130,889
$69,136
$205,724
$252,539
$5,724,236
$4,412
$85,802
$5,549,200
$6,191,746
$7,009,668
$35,933
$905,291
$327,205
$24,019,048
$11,967,000
$21,893,591
$129,664
$8,593
$9,448,082
$2,035,468
$5,967,038
$499,620
$25,900
$194,568
$495,303 (worldwide) [1]
$2,613,717
$1,013,596
$4,409,373
$15,180 (Worldwide)
$97,522
$87,939
$11,290
$2,519,154
$3,467,374
$4,200,000 (Worldwide)
$16,907,725
$10,639,686
$1,553,837
$418,689
$26,809,273
$36,089
$21,156,270
$7,403,491
$22,623
$11,992,014
$463,002
$23,947,685
$463,542
$622,806
$638,627
$7,202
$1,736,394
$31,976,848
$339,609
$7,353,118
$47,986
$1,408,065
$21,353,303
$1,764,304 (worldwide)
$3,121,270
$454,026
$985,207
$1,858,064
$1,530,479
$458,232
$22,539,685
$187,488
$177,490
$10,337,477
$13,539,154
$300,372
$15,513
$16,659 (United States)
$8,729,473
$20,016,753
$5,178,640
$81,338
$6,451,106
$17,299,151
$7,119,846
$312,751
$486,722
$11,931
$508,084
$3,826,568
$443,591
$11,772,461
$14,334,401
$969,869 (USA only) $6,674,540 (foreign) $7,644,409 (total)
$9,576,495
$13,196,245
$56,822,960
$33,723
$719,968
$790,128
$388,390
$7,248,490
$138,814 (US)
$5,371,181
$31,337,584
$8,382,477
$2,897,757
$2,843,997
$18,935,657
$393,813
$42,538
$130,880
$545,582
$156,835,339
$565,024
$8,267,379
$3,242,427
$755,774
$9,610,042
$31,400,740
$1,220,058
$151,708
$4,872,444
$27,769
$179,381
$3,072 (US)
$898,786
$75,511,123
$146,154
$4,778,376
$785,528
$285,060
$1,604,168
$32,593,385
$7,013,191
$1,130,270
$12,636
$667,000
$286,399
$3,982,459
$6,265,483
$17,741,298
$694,782 - $915,840
US$22,211,426 (worldwide) Â£1,034,659 [3] (United Kingdom)
$14,894,347
$36,756000
$3,393,161
$5,133,210
$13,229
$1,879,368 (Worldwide)
$27,696 (Domestic) [2] $1,596,232 (World) [3]
$62,450,361
$32,561,321
$41,299,492
$266,967
$41,627,431
$33,506,137
$84,375,061
$409,832
$7,519,490
$21,458,111
$31,148,328
$408,709
$131,357
$188,126
$11,839,695
$27,640,957
$52,659,594
$11,125,849
$1,296,184
$43,650,785
$6,710,888
$4,161,625 (US and Canada)
$12,549,605
$2,002,618
$47,865
$23,661,038
$6,000,000
$3,992,844
$234,540
$5,802,422
$39,232,113
$1,023,416
$1,140,043
$741,557
$2,186,782
$2,443,479
$15,986,449
$32,474,120
$39,171 (Foreign)
$118,192
$165,888
$1,000,000.
$3,510,643 (worldwide)
$382,174
$49,859
$1,807,506
$10,069
$744,816
$32,307
$36.1 million [1] $8,610,119 (US DVD sales) [3]
$526,245
$322,581
$726,354
$3,026,272 [2] (Worldwide)
$29,010,817
$10,027,047
$10,726,909
$142,055
$1,286,744
$22,852,638
$6,414,729
$12,032,983
$967,369
$16,100
$942,049
$41,711
$5,290
$17,840,867
$295,750
$1,472,747
$31,878,891
$100,280
$96,868
$644,535
$157,107,755
$176,865
$415,686,217
$7,875,862
$189,416
$288,000
$20,601,987
$88,335
$10,062,896
$55,125
$457,867
$103,735
$52,826,594
$173,496 ( UAE ) [3]
$100,688
$335,976
$22,464
$568,963
$619,570
$539,957
$3,977,192
$7,927 ( RSA ) [1]
$200,393
$2,908,893
$352,810
$137,885
$112,036
$754,301
$21,409,028
$13,514
$3,669
$3,878,993
$515,065
$21,790,414 (worldwide) [1]
$18,409,891
$123,820
$4,681,651
$102,647
$9,479,718
$346,594
$2,566,717
$317,382
$814,906
$12,728
$60,095,852
$9,309
$19,651,093
$113,794
$45,735,397
$1,200,326
$1,759,252
$7,448,385
$40,434,229
$6,861,102 (US)
$14,400
$34,522,221
$3,696,232
$4,634,062
$2,820,490
$3,836,357
$887,172
$5,206
$700,000 approx. (USA) (28 August 2011)
$951,016
$449,702
$842,693
$6,840
$37,710,610
$252,788
$623,292
$150,515
$1,067,028
$11,238
$48,764
$68,945
$89,162,162
$163,265
$19,411
$11,348,205
$593,933
$6,400 (domestic)
$25,517
$11,882,191
$18,869
$21,832
$3,003
$201,395
$9,627,492
$3,336,053
$475,511
$5,589,376 (Part 1) [1] $4,059,217 (Part 2) [2] $9,648,593 (Total)
$172,000
$540,152
$1,938
$3,754,070
$175,706
$3,476
$8,041,667
$3,094,813
$1,331,836
$319,285
$6,106 (USA)
$1,832,541
$432,274
$5,750 (US)
$793,815
$608,881.00 (Russia)
$1,481,646
$10,000
$14,667,451
$92,654
$50,292
$1,251,749
$20,746
$10,000,000
$3,125,320
$123,000
$18,100,189
$106,709
$139,034
$14,836
$32,726,956
$1,562,546
$1,296,937
$455,754
$102,388
$1,412,124
$25,342
$1,941,667
$542,762 (domestic) [1]
$2,401,999
$1,567,905
$338,803
$2,167,020
$9,138,338
$499,725
$408,015
$17,967,746
$5,212,903
$587,211
$204,232
$4,175
$175,705
$18,637,201
$58,510
$887,851
$3,363,093
$487,455
$207,853
$35,072
$7,454,185
$1,553,826
$93,995
$993,313
$298,445
$265,670
$40,400 [1] + $486,114 (Home Market Performance) [2] $526,514 (total)
$424,404
$42,606
$4,105
$199,100
$371,245
$61,108
$343,341
$320,013
$125,687
$1,500,147
$73,706
$849,523
$210,565
$2,507,106
$11,157
$80,588
$2,382,965
$8,785
$2,861,020
$81,497
$668,119
$22,214
$228,004
$494,608
$60,818
$189,739
$141,951
$4,535,680
$1,686,065
$39,881 (domestic) n/a  (international) [1]
$14,752
$5,661
$342,941
$288,545
$26,111
$705,854
$48,995
$156,996
$788,160
$74,918
$1,463 (US)
$1,469 (US)
$4,141
$8,088 (limited release)
$28,864
$13,769
$442,313
$10,730
$650,675
$18,642
$6,420
$521,181
$5,072,654
$5,234,456
$28,378
$3,309,292
$8,348
$124,244
$301,604
$584,881
$21,833 (North America)
$17,186
$2,480
$81,381
$457,517
$11,887,397 (US domestic video sales) [1]
$46,021
$938,942
$489,812
$80,231
$19,731
$15,071
$461,780
$1,189,612
$75,143
$59,424 (US)
$1,064,454
$12,897
$51,279
$5,565 (One Theater)
$13,809 (US)
$1,112,592 (US)
$59,209
$170,000
$7,078
$531,986
$427,418 (US)
$52,909
$55,708
$937,000
$475,591
$25,312,387
$30,312
$254,881
$583,264
$851,690
$9,318
$1,009,620
$60,581
$200,126
$6,673
$30,566
$32,251
$444,196
$139,936
$145,427
$113,169
$18,687,388 (Theatrical Performance) [4] $1,269,632 (Home Market Performance) [4] $19 million+ (total)
$615,500
$281,865
$108,808
$478,595
$10,970 (US)
$774,780
$1,394,052
$26,799
$30,844
$157,300,954
$615,816
$354,835
$41,037
$488,277
$6,763
$35,300
$55,486
$10,626
$61,406
$1,027,769
$96,119
$653,951
$20,435
$674,238
$891,925
$68,883
$24,197 Netherlands
$406,137
$789,081
$476,720
$201,890
$218,179
$347,343
$532,669
$486,623
$192,318
$42,603
$7,144
$958,650
$580,346 (North America) [2]
$646,946
$992,181
$40,099
$404,356
$41,888
$497,096
$328,188
$200,340
$14,410
$825,305
$796,000
$626,245
$692,079
$382,053
$235,449
$22,835,787
$703,438
$322,448
$76,713
$77,980
Â¥493,052,600 [1] ( $4,465,085 )
$262,963 (USA) [5]
$244,331
$34,589
$310,035
$642,157
$616,849 (US)
$27,844,607
$401,463
$260,136
$100,116
$19,996
$756,473

In [42]:
# form_two = r'\$\d{1,3}((?:,\d{3})+)'
form_two = r'\$\d{1,3}((\,\d{3})+)?(\.\d{1,2})?((?!( [mb]illion).)+)$'
# box_office.str.contains(form_two, flags=re.IGNORECASE).sum()
ser2 = box_office[box_office.str.contains(form_two, flags=re.IGNORECASE)]
for item in ser2:
        print(item)

$57,718,089
$7,331,647
$855,810
$12,626,043
$19,740,070
$138,697,012
$1,292,323
$2,070,871
$10,173
$947,306
$715,983
US$13,236,513
$1,373,728
$2,346,150
$1,372,350
$14,760,451
$1,823,154
$1,305,887
$205,068
$21,460,601
$13,446,769
$4,960,385
$9,243,140
$4,134,992
$1,293,976
$5,585,154
$139,155
$9,888,167
$1,464,242
$4,011,793
$15,379,253
$7,698,010
$10,873,237
$11,359,129
$3,779,620
$11,207,891
$21,413,105
$3,417,056
$4,010,647
$43,982
$52,310
$1,911,542
$20,240,128
$541,626
$16,667,084
$1,794,001
$3,989,297
$1,106,475
$17,487,531
$83,882
$11,060,485
$44,143,410
$2,120,564
$14,812,144
$2,865,916
$8,667,684
$9,188,150
$9,689,816
$6,220
$28,277,918
$259,012
$1,501,785
$5,546,827
$54,830,779
$394,631
$80,500,000
$82,264,675
$5,451,119
$8,750,400
$14,587,732
$9,804,775
$19,438,638
$191,125
$583,979
$90,000
$52,487,045
$29,012,935
$456,127
US$485,772
$7,308,786
$14,789,113
$5,136,759
$14,851,083
$25,682,090
$39,673,161
$267,265
$14,061,361
$787,280
$2,808,000
$21,756,163
$2,735,731
$11,511,031
$3,547,684
$1,228,108
$36,489,888
$246,000
$2,712,293
$11,000,863
$336,396
$978,775
$418,807
$349,618
$1,008,404
$1,182,273
$13,086,430
$22,518,097
$13,272,113
$21,591,800
$479,676
$25,105,000
$4,836,637
$46,666,502
$8,403,433
$231,826
$6,132,924
$17,129,026
$3,721,911
$26,055
$35,208,854
$94,900,635
$256,249
$11,390,479
$1,514,114
$1,050,861
$2,287,928
$1,014,726
$754,935
USD$205,569
$4,096,030
$1,526,697
$1,102,469
$40,227,006
$311,245
$20,883,046
$6,202,756
$8,669,847
$4,814,619
$4,906,900
$22,697,691
$3,067,917
$15,164,458
$4,651,977
$2,502,551
$147,724
$11,657,385
$919,286
$14,715,067
$115,103
$17,180,393
$48,017,402
$1,373,196
$422,503
$20,473
$2,922,094
$22,660,758
$390,152
$2,791,515
$20,208,496
$543,091
$6,044,652
$4,496,583
$764,724
$212,483
$17,952,857
$17,959,778
$6,011,745
$23,671
$1,497,222
$18,369
$296,081
$7,839,327
$1,677,807
$322,871
$5,145,823
$12,136,999
$12,440,858
$1,498,795
$8,345,845
$1,038,959
$30,038,362
$18,289,763
$6,484,246
$148,919
$7,266,383
$18,994,653
$36,448,400
$2,438,031
$4,104,962
$5,495,507
$56,505,065
$101,071
$12,324,660
$14,543,394
$901,668
$39,100,000
$84,859
$278,720
$19,623,396
$16,192,320
$16,820,893
$4,630,377
$16,696,219
$4,352,094
$1,007,600
$11,391,093
$13,642,861
$3,174,695
$3,103,716
$256,264
$28,735,315
$6,841,570
$3,134,381
$8,094,616
$18,869,594
$13,137,484
$27,058,304
$713,234
$19,281,235
$26,381,221
$89,611
$28,881,266
$8,880,705
$21,355,893
$37,939,757
$60,822
$20,851,521
$9,979,683
$5,842,603
$18,272,894
$35,200
$30,626,182
$18,137,661
$6,821,850
$16,453,258
$2,144,667
$70,936
$4,330,020
$11,669
$3,062,530
$8,647,042
$305,070
$33,351,557
$11,439,193
$24,332,324
$6,562,513
$63,513
$2,694,234
$71,314
$6,159,269
$3,180,674
$61,274
$3,430,583
$200,151
$1,359,736
$20,667,959
$3,337,685
$99,423,521
$7,727,256
$382,928
$185,898
$14,815,317
$538,534
$6,971,777
$71,368
$1,746,050
$16,480,770
$6,243,722
$7,599,000
$10,184,701
$302,393
$7,506,759
$9,685,976
$3,674,841
$5,750,110
$17,725,500
$1,268,636
$3,730,409
$23,440,188
$12,096,673
$178,104
$1,400,591
$13,071,518
$16,198
$868,979
$179,519,401
$284,785
$11,534,477
$11,642,945
$3,987,768
$33,177,694
$4,257,354
$1,110,104
$6,029,091
$57,100
$941,414
$12,201,255
$26,325,256
$3,487,767
$718,490
$459,749
$7,024,389
$15,453,274
$5,000
$40,070,995
$209,935
$5,221,281
$469,571
$2,484,226
$106,269,971
$17,381,942
$6,858,261
$3,565,508
$24,670,346
$6,834,525
$3,983,912
$2,832,826
$5,269,757
$1,238,905
$103,351
$2,684,904
$12,096,881
$512,245
$10,382,407
$5,711,695
$99,318
$692,400
$912,082
$669,276
$529,677
$7,025,496
$26,282
$536,023
$6,014,341
$2,193,982
$15,054,636
$11,132,900
$37,536
$15,094,530
$27,315,527
$8,797,839
$560,069
$782,641
$516,350
$2,654,308
$290,978
$60,209,334
$285,112
$7,343,114
$49,620
$2,084,559
$7,138,523
$20,109,115
$37,553,752
$9,871,065
$4,422,330
$31,387,164
$12,767,815
$2,104,439
$10,125,417
$3,124,440
$26,491,793
$17,193,231
$20,080,020
$14,702,438
$56,143,818
$269,300
$5,691,854
$197,322
$75,019,405
$13,323,144
$20,351,264
$660,313
$222,559
$5,009,305
$32,772,492
$7,032,782
$26,011
$2,420,162
$25,372,294
$49,627,779
$622,503
$5,200,601
$4,619,014
$50,789
$1,356,329
$1,408,575
$107,874
$502,313
$12,803,305
$91,610,201
$19,145,198
$403,701
$10,082,005
$21,075,014
$1,383,553
$1,945,552
$8,543,587
$220,198
$10,580
$37,956,793
$5,107,669
$1,614,266
$14,818,176
$10,163,782
$2,021,348
$34,746,109
$75,854,588
$749,741
$272,542
$100,688,705
$1,615,787
$44,722
$44,052
$2,789,985
$375,757
$3,602,884
$2,465,960
$339,379
$52,850
$2,196,650
$21,277,770
$7,338,279
$720,074
$20,050,376
$532,654
$1,963,654
$23,946
$2,178,160
$1,568,328
$537,948
$548,562
$10,569,071
$386,673
$14,842,388
$14,515,490
$35,659,604
$29,481,428
$113,069
$19,745,922
$31,070,412
$2,284,034
$1,338,335
$626,057
$375,634
$467,272
$63,856,929
$59,927,618
$57,252
$46,362
$106,404
$10,925,060
$1,935,539
$3,392,080
$910,773
$11,838,218
$458,815
$9,889,670
$194,201
$602,302
$4,953,510
$30,716,901
$2,007,100
$4,166,918
$589,304
$48,024,912
$346,056
$2,312,463
$7,281,450
$8,345,056
$14,772,788
$3,330,352
$7,029,025
$283,081
$318,809
$16,574,176
$51,618
$387,069
$534,010
$14,598,571
$309
$122,046
$6,524,620
$334,319
$100,841
$1,036,818
$27,007,143
$2,070,399
$12,951,088
$14,051,384
$13,493
$25,605,015
$6,754,958
$181,233
$1,161,063
$15,923,122
$676,631
$2,361,632
$15,064,946
$871,759
$8,165,212
$22,513
$166,082
$77,910
$81,471,882
$13,583,690
$2,198,044
$4,106,588
$7,571,115
$15,610,299
$3,572,443
$333,760
$118,475
$8,072,007
$21,521
$10,452,012
$222,099
$18,912,328
$26,616,840
$5,878,911
$1,166,199
$45,661
$3,221,152
$3,970,078
$692,588
$1,081,957
$4,960
$9,257,103
$113,484
$45,724
$12,874,899
$1,009,819
$80,837
$6,745,362
$123,104
$713,239
$2,172,941
$12,461,773
$777,423
$8,165,984
$22,365,133
$27,816
$34,573,780
$3,728,888
$30,471
$178,278
$5,453
$2,005,840
$28,121,100
$145,071
$2,165,637
$4,488,529
$33,543
$4,197,729
$14,011,454
$430,404
$73,345,029
$5,985,690
$8,302,478
$2,924,635
$34,857
$54,264,342
$15,415,361
$11,614,954
$36,850,101
$2,062,405
$292,152
$4,389,989
$23,049,593
$58,900,031
$4,197,015
$18,564,088
$16,649,768
$1,350,248
$985,341
$19,381
$4,750,660
$38,738
$25,059,640
$43,805
$53,425,292
$152,699,946
$22,361,811
$16,643,191
$22,844,291
$75,228
US$1,029,591
$80,049,764
$5,753,678
$48,564
$14,400,327
$47,027
$468,684
$31,355,910
$10,890,222
$82,343,495
$173,599
$59,989
$35,547,761
$24,362,772
$584,054
$769,272
$10,558,970
$7,838
$268,117
$6,123
$29,934,477
$3,050,934
$13,276
$76,424
$148,701
$1,247,949
$327,418
$13,069,740
$471,210
$1,051,948
$13,678,913
$850,255
$29,715,606
$4,931,888
$18,195,610
$29,381,649
$104,294
$8,378,853
$27,958,192
$2,300,684
$62,112,895
$3,646,994
$687,194
$10,031,529
$8,704,851
$517,872
$56,653
$13,127,022
$57,756,408
$31,283,790
$97,818,139
$24,516,772
$23,396,049
$1,667,192
$23,903,791
$4,695,781
$2,006,391
US$30,787,356
$34,585,771
$2,036,682
$19,210,835
$4,403,019
$319,299
$1,612,259
$38,689,940
$4,299,141
$515,900
$4,574,762
$22,391,450
$10,229,331
$26,306,533
$824,597
$605,562
$51,843,679
$28,316,451
$60,902
$29,413,966
$254,293
$2,751,988
$18,012,097
$34,409,206
$73,839,240
$16,318,449
$18,591,272
$51,801,187
$4,141,740
$5,491
$24,128,852
$8,145,549
$4,412,203
$46,375
$31,167,388
$3,090,862
$811,299
$563,711
$308,552
$27,674,124
$1,934,497
$1,250,798
$6,413,915
$2,106,838
$134,736
$3,369,654
$598,645
$3,200,241
$1,500,711
$13,414,416
$548,712
$7,986,084
$13,585,075
$365,727
$280,351
$23,510,601
$402,599
$2,650,356
$475,940
$12,150,301
$22,573,594
$2,255,000
$32,750,821
$37,000
$400,000
$17,432,163
$14,308,132
$292,376
$26,891,849
$38,955,598
$44,350,926
$546,106
$634,803
$18,191,005
$436,365
$829,140
$11,560,806
$742,898
$11,000
$1,800
$459,098
$337,174
$8,679,814
$7,808,524
$2,466,444
$9,638,389
$8,466
$61,347,797
$314,402
US$14,339,171
$3,817,362
$2,707,913
$1,382,259
$80,906
$2,586,511
$12,009,070
$97,446
$18,396,382
$127,067
$14,581,765
$3,618,825
$34,586,268
$30,114,487
$305,281
$2,394,737
$291,118
$61,315,215
$464,000
$1,841,260
$802,948
$21,417,725
$21,839,377
$18,490,423
$5,923,000
$2,280,924
$192,186
$707,269
$10,876,805
$841,926
$37,666,766
$49,718,611
$1,522,377
$10,148,953
$2,009,087
$2,153,070
$170,268,750
$102,001,626
$45,497
$11,416,075
$143,597
$57,223,890
$246,094
$2,037,545
$337,617
$6,804,016
$3,347,647
$8,968,684
$1,126,258
$181,872
$33,589,427
$46,720,491
$37,691,644
$33,296,457
$351,401
$17,986
$29,621,722
$36,099
$251,495
$3,601,974
$172,569
$15,778,152
$1,311,633
$388,532
$83,073,883
$709,832
$537,667
$4,143,652
$174,815
$404,870
$101,393,569
$3,919,275
$1,750,211
$58,405,313
$47,812
$1,562,923
$537,100
$67,937,494
$689,028
$14,189,860
$381,420
$4,646,889
$519,802
$11,588,205
$3,344,431
$5,655,459
$28,237,190
$881,779
$1,399,222
US$32,120,360
$16,458,459
$17,496,992
$745,327
$13,737
$3,306,629
$442,515
$11,130,889
$69,136
$205,724
$252,539
$5,724,236
$4,412
$85,802
$5,549,200
$6,191,746
$7,009,668
$35,933
$905,291
$327,205
$24,019,048
$11,967,000
$21,893,591
$129,664
$8,593
$9,448,082
$2,035,468
$5,967,038
$499,620
$25,900
$194,568
$2,613,717
$1,013,596
$4,409,373
$97,522
$87,939
$11,290
$2,519,154
$3,467,374
$16,907,725
$10,639,686
$1,553,837
$418,689
$26,809,273
$36,089
$21,156,270
$7,403,491
$22,623
$11,992,014
$463,002
$23,947,685
$463,542
$622,806
$638,627
$7,202
$1,736,394
$31,976,848
$339,609
$7,353,118
$47,986
$1,408,065
$21,353,303
$3,121,270
$454,026
$985,207
$1,858,064
$1,530,479
$458,232
$22,539,685
$187,488
$177,490
$10,337,477
$13,539,154
$300,372
$15,513
$8,729,473
$20,016,753
$5,178,640
$81,338
$6,451,106
$17,299,151
$7,119,846
$312,751
$486,722
$11,931
$508,084
$3,826,568
$443,591
$11,772,461
$14,334,401
$9,576,495
$13,196,245
$56,822,960
$33,723
$719,968
$790,128
$388,390
$7,248,490
$5,371,181
$31,337,584
$8,382,477
$2,897,757
$2,843,997
$18,935,657
$393,813
$42,538
$130,880
$545,582
$156,835,339
$565,024
$8,267,379
$3,242,427
$755,774
$9,610,042
$31,400,740
$1,220,058
$151,708
$4,872,444
$27,769
$179,381
$898,786
$75,511,123
$146,154
$4,778,376
$785,528
$285,060
$1,604,168
$32,593,385
$7,013,191
$1,130,270
$12,636
$667,000
$286,399
$3,982,459
$6,265,483
$17,741,298
$694,782 - $915,840
$14,894,347
$3,393,161
$5,133,210
$13,229
$62,450,361
$32,561,321
$41,299,492
$266,967
$41,627,431
$33,506,137
$84,375,061
$409,832
$7,519,490
$21,458,111
$31,148,328
$408,709
$131,357
$188,126
$11,839,695
$27,640,957
$52,659,594
$11,125,849
$1,296,184
$43,650,785
$6,710,888
$12,549,605
$2,002,618
$47,865
$23,661,038
$6,000,000
$3,992,844
$234,540
$5,802,422
$39,232,113
$1,023,416
$1,140,043
$741,557
$2,186,782
$2,443,479
$15,986,449
$32,474,120
$118,192
$165,888
$382,174
$49,859
$1,807,506
$10,069
$744,816
$32,307
$526,245
$322,581
$726,354
$29,010,817
$10,027,047
$10,726,909
$142,055
$1,286,744
$22,852,638
$6,414,729
$12,032,983
$967,369
$16,100
$942,049
$41,711
$5,290
$17,840,867
$295,750
$1,472,747
$31,878,891
$100,280
$96,868
$644,535
$157,107,755
$176,865
$415,686,217
$7,875,862
$189,416
$288,000
$20,601,987
$88,335
$10,062,896
$55,125
$457,867
$103,735
$52,826,594
$100,688
$335,976
$22,464
$568,963
$619,570
$539,957
$3,977,192
$200,393
$2,908,893
$352,810
$137,885
$112,036
$754,301
$21,409,028
$13,514
$3,669
$3,878,993
$515,065
$18,409,891
$123,820
$4,681,651
$102,647
$9,479,718
$346,594
$2,566,717
$317,382
$814,906
$12,728
$60,095,852
$9,309
$19,651,093
$113,794
$45,735,397
$1,200,326
$1,759,252
$7,448,385
$40,434,229
$14,400
$34,522,221
$3,696,232
$4,634,062
$2,820,490
$3,836,357
$887,172
$5,206
$951,016
$449,702
$842,693
$6,840
$37,710,610
$252,788
$623,292
$150,515
$1,067,028
$11,238
$48,764
$68,945
$89,162,162
$163,265
$19,411
$11,348,205
$593,933
$25,517
$11,882,191
$18,869
$21,832
$3,003
$201,395
$9,627,492
$3,336,053
$475,511
$172,000
$540,152
$1,938
$3,754,070
$175,706
$3,476
$8,041,667
$3,094,813
$1,331,836
$319,285
$1,832,541
$432,274
$793,815
$1,481,646
$10,000
$14,667,451
$92,654
$50,292
$1,251,749
$20,746
$10,000,000
$3,125,320
$123,000
$18,100,189
$106,709
$139,034
$14,836
$32,726,956
$1,562,546
$1,296,937
$455,754
$102,388
$1,412,124
$25,342
$1,941,667
$2,401,999
$1,567,905
$338,803
$2,167,020
$9,138,338
$499,725
$408,015
$17,967,746
$5,212,903
$587,211
$204,232
$4,175
$175,705
$18,637,201
$58,510
$887,851
$3,363,093
$487,455
$207,853
$35,072
$7,454,185
$1,553,826
$93,995
$993,313
$298,445
$265,670
$424,404
$42,606
$4,105
$199,100
$371,245
$61,108
$343,341
$320,013
$125,687
$1,500,147
$73,706
$849,523
$210,565
$2,507,106
$11,157
$80,588
$2,382,965
$8,785
$2,861,020
$81,497
$668,119
$22,214
$228,004
$494,608
$60,818
$189,739
$141,951
$4,535,680
$1,686,065
$14,752
$5,661
$342,941
$288,545
$26,111
$705,854
$48,995
$156,996
$788,160
$74,918
$4,141
$28,864
$13,769
$442,313
$10,730
$650,675
$18,642
$6,420
$521,181
$5,072,654
$5,234,456
$28,378
$3,309,292
$8,348
$124,244
$301,604
$584,881
$17,186
$2,480
$81,381
$457,517
$46,021
$938,942
$489,812
$80,231
$19,731
$15,071
$461,780
$1,189,612
$75,143
$1,064,454
$12,897
$51,279
$59,209
$170,000
$7,078
$531,986
$52,909
$55,708
$937,000
$475,591
$25,312,387
$30,312
$254,881
$583,264
$851,690
$9,318
$1,009,620
$60,581
$200,126
$6,673
$30,566
$32,251
$444,196
$139,936
$145,427
$113,169
$615,500
$588
$281,865
$108,808
$478,595
$774,780
$1,394,052
$26,799
$30,844
$157,300,954
$615,816
$354,835
$41,037
less than $372
$488,277
$6,763
$35,300
$55,486
$10,626
$61,406
$1,027,769
$96,119
$653,951
$20,435
$674,238
$891,925
$68,883
$406,137
$789,081
$476,720
$201,890
$218,179
$347,343
$532,669
$486,623
$192,318
$42,603
$7,144
$958,650
$646,946
$992,181
$40,099
$404,356
$41,888
$497,096
$328,188
$200,340
$14,410
$825,305
$796,000
$626,245
$692,079
$382,053
$235,449
$22,835,787
$703,438
$322,448
$76,713
$77,980
$244,331
$34,589
$310,035
$642,157
$27,844,607
$401,463
$260,136
$100,116
$19,996
$756,473

In [43]:
def parse_dollars(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):

        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):

        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [44]:
def parse_dollars_2(s):
    # if s is not a string, return NaN
    if type(s) != str:
        return np.nan

    # if input is of the form $###.# million
    # if re.match(r'\$\s*\d+\.?\d*\s*milli?on', s, flags=re.IGNORECASE):
    if re.match(r'\$[^\d]*\d{1,3}((\,\d{3})+)?(\.\d+)?[^\d]*milli?on$', s, flags=re.IGNORECASE):
        # remove dollar sign and " million"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a million
        value = float(s) * 10**6

        # return value
        return value

    # if input is of the form $###.# billion
    # elif re.match(r'\$\s*\d+\.?\d*\s*billi?on', s, flags=re.IGNORECASE):
    # elif re.match(r'\$\d{1,3}((\,\d{3})+)?(\.\d+)?\s*billi?on$', s, flags=re.IGNORECASE):    
    elif re.match(r'\$[^\d]*\d{1,3}(\.\d+)?[^\d]*( billi?on)', s, flags=re.IGNORECASE): 
        # remove dollar sign and " billion"
        s = re.sub('\$|\s|[a-zA-Z]','', s)

        # convert to float and multiply by a billion
        value = float(s) * 10**9

        # return value
        return value

    # if input is of the form $###,###,###
    # elif re.match(r'\$\s*\d{1,3}(?:[,\.]\d{3})+(?!\s[mb]illion)', s, flags=re.IGNORECASE):
    elif re.match(r'\$\s*\d{1,3}((\,\d{3})+)(?!\s[mb]illi?on)$',s, flags=re.IGNORECASE):
    
        # remove dollar sign and commas
        s = re.sub('\$|,','', s)

        # convert to float
        value = float(s)

        # return value
        return value

    # otherwise, return NaN
    else:
        return np.nan

In [45]:
parse_dollars("$21.4 million")

21400000.0

In [46]:
parse_dollars("$21. million")

21000000.0

In [47]:
parse_dollars_2("$21.4 million")

21400000.0

In [48]:
parse_dollars_2("$21. million")

21000000.0

In [49]:
parse_dollars("$21.4 billion")

21400000000.0

In [50]:
parse_dollars("$21. billion")

21000000000.0

In [51]:
parse_dollars_2("$21.4 billion")

21400000000.0

In [52]:
parse_dollars_2("$21. billion")

21000000000.0

In [53]:
parse_dollars("$8,667,684")

8667684.0

In [54]:
parse_dollars("$8,667,684.")

8667684.0

In [55]:
parse_dollars_2("$8,667,684")

8667684.0

In [56]:
parse_dollars("$8,667,684.")

8667684.0

In [57]:
parse_dollars("$57,718,089")

57718089.0

In [58]:
parse_dollars_2("$57,718,089")

57718089.0

In [59]:
wiki_movies_df["Box office"] = wiki_movies_df["Box office"].map(lambda x: ' '.join(x) if type(x) == list else x)

In [60]:
wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars)

In [61]:
# wiki_movies_df['box_office'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars_2)

In [62]:
wiki_movies_df['box_office']

0       21400000.0
1        2700000.0
2       57718089.0
3        7331647.0
4              NaN
           ...
7071    41900000.0
7072    76100000.0
7073    38400000.0
7074     5500000.0
7075           NaN
Name: box_office, Length: 7033, dtype: float64

In [63]:
form_one = r'\$\d{1,3}((,\d{3})+)?(\.\d{1,2})?$'
form_two = r'\$[^\d]*\d{1,3}(\.\d+)?[^\d]*( [mb]illi?on)'

wiki_movies_df['box_office_2'] = box_office.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars_2)

In [64]:
wiki_movies_df.box_office = wiki_movies_df.box_office.map(lambda x: ' '.join(x) if type(x) == list else x)

In [65]:
wiki_movies_df.columns

Index(['url', 'year', 'imdb_link', 'title', 'Based on', 'Starring',
       'Cinematography', 'Release date', 'Running time', 'Country', 'Language',
       'Budget', 'Box office', 'Director', 'Distributor', 'Editor(s)',
       'Composer(s)', 'Producer(s)', 'Production company(s)', 'Writer(s)',
       'imdb_id', 'box_office', 'box_office_2'],
      dtype='object')

In [66]:
len(wiki_movies_df.loc[(wiki_movies_df.box_office != wiki_movies_df.box_office_2) & ((np.isnan(wiki_movies_df.box_office) == True) & (np.isnan(wiki_movies_df.box_office_2) == True))])

1794

In [67]:
len(wiki_movies_df.loc[(wiki_movies_df.box_office != wiki_movies_df.box_office_2)])

1795

In [68]:
series = wiki_movies_df.loc[(wiki_movies_df.box_office != wiki_movies_df.box_office_2) & ((np.isnan(wiki_movies_df.box_office) != True) | (np.isnan(wiki_movies_df.box_office_2) != True))][["Box office","box_office","box_office_2"]]
print(len(series))
for item in series.items():
    print(item)

1
('Box office', 6959    $395\nmillion
Name: Box office, dtype: object)
('box_office', 6959    395000000.0
Name: box_office, dtype: float64)
('box_office_2', 6959   NaN
Name: box_office_2, dtype: float64)

In [69]:
parse_dollars_2("$2.790 billion")

2790000000.0

In [70]:
budget = wiki_movies_df['Budget'].dropna()

In [71]:
budget = budget.map(lambda x: ' '.join(x) if type(x) == list else x)

In [72]:
budget = budget.str.replace(r'\$.*[-â€”â€“](?![a-z])', '$', regex=True)

In [73]:
form_one_2 = r'\$\d{1,3}((,\d{3})+)?(\.\d{1,2})?$'
form_two_2 = r'\$[^\d]*\d{1,3}(\.\d+)?[^\d]*( [mb]illi?on)'

In [74]:
matches_form_one = budget.str.contains(form_one, flags=re.IGNORECASE)
matches_form_two = budget.str.contains(form_two, flags=re.IGNORECASE)

In [75]:
no_match = budget[~matches_form_one & ~matches_form_two]
for item in no_match:
    print(item)

$2,500,000 [ citation needed ]
$10,000,000 (estimated)
Unknown
$2,000,000 (estimated)
60 million Norwegian Kroner
$ 80,000
$10,000,000 [ citation needed ]
Unknown
BEF 1 million ( USD$ 33,000)
$5,000,000 est.
$250,000 (estimated)
$250,000 (estimated)
$350,000 [ citation needed ]
$1,000,000 (est.)
$13,000,000 (Estimated)
$6,000,000 (US)
$2,000,000 (estimated)
$500,000 (estimated)
$27,575 $230,000 (post)
$15,000 (estimated)
$34 [3] [4] million
$8,000,000 (approximately)
$1,000,000 est.
$ 3,000
$40,000,000 (estimated) [1]
$1,000,000 [ citation needed ]
$150,000 (approx)
$120 [4] million
Unknown
$2,500,000 US (est.)
US$8,000,000 (estimated)
$250,000 (estimated)
HBO
$150,000 (estimated)
$11,000,000 (estimated)
Â£6,000,000
13 million
$ 24,000,000
Â£2.8 million
$3,500,000 (estimated)
$2,600,000 [ citation needed ]
$160,000 USD
$3,000,000 (estimated)
$6,000,000 (estimated)
CAD2,000,000
$13,000,000 (estimated)
$4,000,000 (estimated)
$ 15,000,000 (estimated)
$4,000,000 ( NZD )
$10,000,000 [ citation needed ]
PHP 85 million (estimated)
102,888,900
3,500,000 DM
$4,000,000 (estimated)
$8,000,000 (Estimated)
$ 10,000,000 (approximately)
â‚¤2,300,874
US$17,000,000 (estimated)
$4,000,000 (estimated)
$375,000 (estimated)
$150,000 (estimated)
$60,000 (est)
$1,800,000 [ citation needed ]
$4,000,000 (estimated)
$14 milion
USD$ 10,000,000 (est.)
$2,000,000 (est.)
US$ 2,600,000
â‚¤6,350,000
$1,800,000 (estimated)
$75,000 (estimate)
$450,000 (estimated)
â‚¬ 40 million
US$ 855,000 [2]
$1,500 (estimated)
$ 400,000
$9,000,000 USD
$10,000,000 (estimated)
$ 500,000
$150 [6] million
$2,000,000 [ citation needed ]
$7,000,000 [ citation needed ]
Â£4.2 million
N/A
$ 2,800,000 (Estimate)
760,000 USD
$70,000 (estimated)
$1,000,000 (estimated)
US$ 3,000,000
$3,500 (estimated)
$900,000 (estimated)
$7,000,000 (US)
$450,000 (estimated)
$5,000,000 (estimate)
$ 105,000
$250,000 (estimated)
$1,200,000 [ citation needed ]
19 crore
Â£17 million
$2,900,000 (estimated)
$3,000,000 (est.)
$4,789,700 [ citation needed ]
$2,500,000 (est.)
$$200 [4] million
$155 [2] [3] million
$40 [4] million
N/A
Â£4 million
$12,000,000 (estimated)
â‚¬14 million
$ dead link]
US$ 10,000 [1]
$70,000 (estimated)
Â£ 12 million [3]
Â£3 million
Â£12.9 million
3.5 crore
919,000
â‚¬4.3 million

In [76]:
wiki_movies_df['budget'] = budget.str.extract(f'({form_one}|{form_two})', flags=re.IGNORECASE)[0].apply(parse_dollars_2)

In [77]:
wiki_movies_df.drop('Budget', axis=1, inplace=True)

In [78]:
release_date = wiki_movies_df['Release date'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [79]:
# release_date = release_date.str.lower()

In [80]:
release_date

0                            July 11, 1990 ( 1990-07-11 )
1       May 17, 1990 ( 1990-05-17 ) (Cannes Film Marke...
2                          August 10, 1990 ( 1990-08-10 )
3                        December 25, 1990 ( 1990-12-25 )
4                                       December 19, 1990
                              ...
7071     December 25, 2018 ( 2018-12-25 ) (United States)
7072    December 11, 2018 ( 2018-12-11 ) ( Samuel Gold...
7073    November 8, 2018 ( 2018-11-08 ) ( AFI Fest ) D...
7074    August 31, 2018 ( 2018-08-31 ) ( Telluride ) D...
7075                      28 December 2018 ( 2018-12-28 )
Name: Release date, Length: 7001, dtype: object

In [81]:
#re_full_month_name = r'(?:january|february|march|april|may|june|july|august|september|october|november|december)'
re_full_month_name = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)'

# Full month name, one- to two-digit day, four-digit year (i.e., January 1, 2000)
# re_month_day_year = r'(' + re_full_month_name + r'\s\d{1,2},\s\d{4}).*'
re_month_day_year = re_full_month_name + r'\s\d{1,2},\s\d{4}'

# Four-digit year, two-digit month, two-digit day, with any separator (i.e., 2000-01-01)
#re_year_month_day = r'[^\(]+\(\s+(\d{4}.\d{2}.\d{2}).*'
re_year_month_day = r'\d{4}.\d{2}.\d{2}'

# Full month name, four-digit year (i.e., January 2000)
# re_month_year = r'(' + re_full_month_name + r'\s\d{4})'
re_month_year = re_full_month_name + r'\s\d{4}'

# Four-digit year
# re_four_digit_year = r'(\d{4})'
re_four_digit_year = r'\d{4}'

date_form_one = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s[123]\d,\s\d{4}'
date_form_two = r'\d{4}.[01]\d.[123]\d'
date_form_three = r'(?:January|February|March|April|May|June|July|August|September|October|November|December)\s\d{4}'
date_form_four = r'\d{4}'

In [82]:
release_date.str.extract(f'({re_month_day_year})')

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073   November 8, 2018
7074    August 31, 2018
7075                NaN

[7001 rows x 1 columns]

In [83]:
release_date.str.extract(f'({re_year_month_day})')

               0
0     1990-07-11
1     1990-05-17
2     1990-08-10
3     1990-12-25
4            NaN
...          ...
7071  2018-12-25
7072  2018-12-11
7073  2018-11-08
7074  2018-08-31
7075  2018-12-28

[7001 rows x 1 columns]

In [84]:
release_date.str.extract(f'({re_month_year})')

                  0
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
...             ...
7071            NaN
7072            NaN
7073            NaN
7074            NaN
7075  December 2018

[7001 rows x 1 columns]

In [85]:
release_date.str.extract(f'({re_four_digit_year})')

         0
0     1990
1     1990
2     1990
3     1990
4     1990
...    ...
7071  2018
7072  2018
7073  2018
7074  2018
7075  2018

[7001 rows x 1 columns]

In [86]:
release_date.str.extract(f'({re_month_day_year}|{re_year_month_day}|{re_month_year}|{re_four_digit_year})', flags=re.IGNORECASE)

                      0
0         July 11, 1990
1          May 17, 1990
2       August 10, 1990
3     December 25, 1990
4     December 19, 1990
...                 ...
7071  December 25, 2018
7072  December 11, 2018
7073   November 8, 2018
7074    August 31, 2018
7075      December 2018

[7001 rows x 1 columns]

In [87]:
wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({re_month_day_year}|{re_year_month_day}|{re_month_year}|{re_four_digit_year})')[0], infer_datetime_format=True)
# wiki_movies_df['release_date'] = pd.to_datetime(release_date.str.extract(f'({date_form_one}|{date_form_two}|{date_form_three}|{date_form_four})')[0], infer_datetime_format=True)

In [88]:
running_time = wiki_movies_df['Running time'].dropna().apply(lambda x: ' '.join(x) if type(x) == list else x)

In [89]:
running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE).sum()

6528

In [90]:
running_time[running_time.str.contains(r'^\d*\s*minutes$', flags=re.IGNORECASE) != True]

9                                                 102 min
26                                                 93 min
28                                                32 min.
34                                                101 min
35                                                 97 min
                              ...
6500       114 minutes [1] 120 minutes (extended edition)
6643                                             104 mins
6709    90 minutes (theatrical) [1] 91 minutes (unrate...
7057    108 minutes (Original cut) 98 minutes (UK cut)...
7075                Variable; 90 minutes for default path
Name: Running time, Length: 366, dtype: object

In [91]:
running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE).sum()

6877

In [92]:
running_time[running_time.str.contains(r'^\d*\s*m', flags=re.IGNORECASE)!=True]

668                     UK:84 min (DVD version) US:86 min
727                         78-102 min (depending on cut)
840                       Varies (79 [3] â€“84 [1] minutes)
1347                                              25 : 03
1443    United States: 77 minutes Argentina: 94 minute...
1499                                            1hr 35min
1551                                               varies
1774                    Netherlands:96 min, Canada:95 min
1777                                       approx. 14 min
2273                                           1 h 43 min
2993                                               1h 48m
3925                                              4 hours
4425    US domestic version: 86 minutes Original versi...
4967    Theatrical cut: 97 minutes Unrated cut: 107 mi...
5424                    115 [1] /123 [2] /128 [3] minutes
5447                                    1 hour 32 minutes
7075                Variable; 90 minutes for default path
Name: Running time, dtype: object

In [93]:
running_time_extract = running_time.str.extract(r'(\d+)\s*ho?u?r?s?\s*(\d*)|(\d+)\s*m')

In [94]:
running_time_extract

        0    1    2
0     NaN  NaN  102
1     NaN  NaN  114
2     NaN  NaN  113
3     NaN  NaN  106
4     NaN  NaN   95
...   ...  ...  ...
7071  NaN  NaN   90
7072  NaN  NaN  132
7073  NaN  NaN  120
7074  NaN  NaN  123
7075  NaN  NaN   90

[6894 rows x 3 columns]

In [95]:
running_time_extract = running_time_extract.apply(lambda col: pd.to_numeric(col, errors='coerce')).fillna(0)

In [96]:
running_time_extract

        0    1      2
0     0.0  0.0  102.0
1     0.0  0.0  114.0
2     0.0  0.0  113.0
3     0.0  0.0  106.0
4     0.0  0.0   95.0
...   ...  ...    ...
7071  0.0  0.0   90.0
7072  0.0  0.0  132.0
7073  0.0  0.0  120.0
7074  0.0  0.0  123.0
7075  0.0  0.0   90.0

[6894 rows x 3 columns]

In [97]:
wiki_movies_df['running_time'] = running_time_extract.apply(lambda row: row[0]*60 + row[1] if row[2] == 0 else row[2], axis=1)

In [98]:
wiki_movies_df.drop('Running time', axis=1, inplace=True)

In [99]:
# Load the Movielens data
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv',low_memory=False)

In [100]:
kaggle_metadata.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [101]:
kaggle_metadata[["budget","release_date","popularity","adult","id","video"]].head()

     budget release_date popularity  adult     id  video
0  30000000   1995-10-30  21.946943  False    862  False
1  65000000   1995-12-15  17.015539  False   8844  False
2         0   1995-12-22    11.7129  False  15602  False
3  16000000   1995-12-22   3.859495  False  31357  False
4         0   1995-02-10   8.387519  False  11862  False

In [102]:
kaggle_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 - Written by Ã˜rnÃ¥s                                                                                                                   1
Name: adult, dtype: int64

In [103]:
kaggle_metadata.shape[0]

45466

In [104]:
kaggle_metadata = kaggle_metadata[kaggle_metadata.adult.isin(['True','False'])]

In [105]:
kaggle_metadata.shape[0]

45463

In [106]:
# Remove adult movies from the data set

kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False']   # .drop('adult',axis='columns')

In [107]:
# Drop the adult column

kaggle_metadata = kaggle_metadata.drop("adult",axis=1)

KeyError: "['adult'] not found in axis"

In [ ]:
kaggle_metadata.columns

In [ ]:
kaggle_metadata['video'].value_counts()

In [ ]:
kaggle_metadata['video'].value_counts()

In [ ]:
kaggle_metadata.dtypes

In [ ]:
kaggle_metadata[kaggle_metadata['video']==True]

In [ ]:
len(kaggle_metadata[kaggle_metadata['video']==True][["video"]])

In [ ]:
# This step is wrong!!
# kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [ ]:
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [ ]:
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [ ]:
# Load the ratings data
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [ ]:
ratings.info(null_counts=True)

In [ ]:
ratings['timestamp']

In [ ]:
pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
# Plot a histogram of the rating column
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

In [ ]:
movies_df = pd.merge(wiki_movies_df, kaggle_metadata, on='imdb_id', suffixes=['_wiki','_kaggle'])

In [ ]:
movies_df.columns

In [ ]:
# Competing data:
# Wiki                     Movielens                Resolution
#--------------------------------------------------------------------------
# title_wiki               title_kaggle
# running_time             runtime
# budget_wiki              budget_kaggle
# box_office               revenue
# release_date_wiki        release_date_kaggle
# Language                 original_language
# Production company(s)    production_companies

In [ ]:
movies_df[['title_wiki','title_kaggle']]

In [ ]:
movies_df[~(movies_df.title_wiki == movies_df.title_kaggle)][["title_wiki","title_kaggle"]]

In [ ]:
movies_df[(movies_df.title_kaggle == '') | (movies_df.title_kaggle.isnull())]

In [ ]:
movies_df.fillna(0).plot(x='running_time', y='runtime', kind='scatter')

In [ ]:
movies_df.fillna(0).plot(x='budget_wiki',y='budget_kaggle', kind='scatter')

In [ ]:
movies_df.fillna(0).plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
movies_df.fillna(0)[movies_df['box_office'] < 10**9].plot(x='box_office', y='revenue', kind='scatter')

In [ ]:
movies_df[['release_date_wiki','release_date_kaggle']].plot(x='release_date_wiki', y='release_date_kaggle', style='.')

In [ ]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')]

In [ ]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')][["release_date_wiki","release_date_kaggle"]]

In [ ]:
movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index

In [ ]:
movies_df = movies_df.drop(movies_df[(movies_df['release_date_wiki'] > '1996-01-01') & (movies_df['release_date_kaggle'] < '1965-01-01')].index)

In [ ]:
movies_df[movies_df['release_date_wiki'].isnull()]

In [ ]:
movies_df[movies_df['release_date_kaggle'].isnull()]

In [ ]:
movies_df['Language'].value_counts()

In [ ]:
movies_df['Language'].apply(lambda x: tuple(x) if type(x) == list else x).value_counts(dropna=False)

In [ ]:
# For the Kaggle data, there are no lists, so we can just run value_counts() on it

movies_df['original_language'].value_counts(dropna=False)

In [ ]:
movies_df[['Production company(s)','production_companies']]

In [ ]:
movies_df.drop(columns=['title_wiki','release_date_wiki','Language','Production company(s)'], inplace=True)

In [ ]:
def fill_missing_kaggle_data(df, kaggle_column, wiki_column):
    df[kaggle_column] = df.apply(
        lambda row: row[wiki_column] if row[kaggle_column] == 0 else row[kaggle_column]
        , axis=1)
    df.drop(columns=wiki_column, inplace=True)

In [ ]:
fill_missing_kaggle_data(movies_df, 'runtime', 'running_time')
fill_missing_kaggle_data(movies_df, 'budget_kaggle', 'budget_wiki')
fill_missing_kaggle_data(movies_df, 'revenue', 'box_office')
movies_df

for i in range(movies_df.shape[1]):
    print(movies_df.columns[i])

In [ ]:
for col in movies_df.columns:
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    # if num_values == 1:
    print(f"{col} : {num_values}")

In [ ]:
movies_df['video'].value_counts(dropna=False)

In [ ]:
movies_df[movies_df['video'] == True]

In [ ]:
def forloop(col):
    lists_to_tuples = lambda x: tuple(x) if type(x) == list else x
    value_counts = movies_df[col].apply(lists_to_tuples).value_counts(dropna=False)
    num_values = len(value_counts)
    if num_values == 2:
        return col
    #print(f"{col} : {num_values}")

In [ ]:
# How could you replace the previous for loop with a list comprehension?

list(filter(None, [forloop(col) for col in movies_df.columns]))

In [ ]:
# reorder the columns to make the dataset easier to read 

movies_df = movies_df.loc[:, ['imdb_id','id','title_kaggle','original_title','tagline','belongs_to_collection','url','imdb_link',
                       'runtime','budget_kaggle','revenue','release_date_kaggle','popularity','vote_average','vote_count',
                       'genres','original_language','overview','spoken_languages','Country',
                       'production_companies','production_countries','Distributor',
                       'Producer(s)','Director','Starring','Cinematography','Editor(s)','Writer(s)','Composer(s)','Based on'
                      ]]

In [ ]:
# rename the columns to be consistent

movies_df.rename({'id':'kaggle_id',
                  'title_kaggle':'title',
                  'url':'wikipedia_url',
                  'budget_kaggle':'budget',
                  'release_date_kaggle':'release_date',
                  'Country':'country',
                  'Distributor':'distributor',
                  'Producer(s)':'producers',
                  'Director':'director',
                  'Starring':'starring',
                  'Cinematography':'cinematography',
                  'Editor(s)':'editors',
                  'Writer(s)':'writers',
                  'Composer(s)':'composers',
                  'Based on':'based_on'
                 }, axis='columns', inplace=True)

In [ ]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count()
rating_counts

In [ ]:
rating_counts = rating_counts.rename({'userId':'count'},axis=1)
rating_counts

In [ ]:
rating_counts = rating_counts.pivot(index='movieId',columns='rating', values='count')
rating_counts

In [ ]:
rating_counts = ratings.groupby(['movieId','rating'], as_index=False).count() \
                .rename({'userId':'count'}, axis=1) \
                .pivot(index='movieId',columns='rating', values='count')

In [ ]:
rating_counts.columns = ['rating_' + str(col) for col in rating_counts.columns]

In [ ]:
rating_counts

In [ ]:
movies_df.columns

In [ ]:
movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on='kaggle_id', right_index=True, how='left')

In [ ]:
movies_with_ratings_df[rating_counts.columns] = movies_with_ratings_df[rating_counts.columns].fillna(0)

In [ ]:
from sqlalchemy import create_engine

In [ ]:
from config import db_password

db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

engine = create_engine(db_string)

movies_df.to_sql(name='movies', con=engine)

import time

rows_imported = 0
# get the start_time from time.time()
start_time = time.time()
for data in pd.read_csv(f'{file_dir}ratings.csv', chunksize=1000000):
    print(f'importing rows {rows_imported} to {rows_imported + len(data)}...', end='')
    data.to_sql(name='ratings', con=engine, if_exists='append')
    rows_imported += len(data)

    # add elapsed time to final print out
    print(f'Done. {time.time() - start_time} total seconds elapsed')

In [ ]:
dct = [{"a":True,"b":"age"}]
type(dct)
df = pd.DataFrame(dct)
df.dtypes